html,body,.banner,.swiper-container{
    height:100%;
}
.banner{position:relative;}
.swiper-container img{
    width:100%;
}
.md{
    width:1080px;
    margin:0 auto;
    padding:0 20px;
    box-sizing:border-box;
}
.nav{
    height:80px;
    position:absolute;
    left:0;
    top:0px;
    width: 100%;
    z-index: 9;
}
.nav-bd{

    margin-top: 20px;
}
.logo{
    float:left;
}
.nav-ul{
    float:right;
}
.nav-ul li{
    float:left;
    padding:0px 20px;
    font-size:16px;
    color:#fff;
    height:40px;
    line-height:40px;
}
.nav-ul li a{
    color:#fff;
}
.adText {
    height:146px;
    position:absolute;
    left:0px;
    top:50%;
    margin-top:-73px;
    z-index:999;
    width:100%;
}
.adText h2{
    font-size:60px;
    margin-bottom:20px;
    color:#fff;

}
.adText .btn{
    padding:14px 26px;
    font-size:22px;
    font-weight:700;
    background:rgba(0,0,0,.6);
    border-radius:6px;
    color:#fff;

}
.recomment li{
    width:25%;
    height:260px;
    background:url("../images/promo-01.jpg") center center no-repeat;
    float:left;
    background-size:cover;
    border:1px solid #fff;
    border-top-width:2px;
    box-sizing: border-box;
}
.recomment li a{
    width:270px;
    height:34px;
    line-height:24px;
    text-align:center;
    font-size:24px;
    margin:34px  auto 0;
    display:block;
    color:#fff;


}
.box{
    box-shadow:0 -2px 0 inset;
}
.links{
   background:#fff;
   border-bottom:1px solid #efefef;
}
.linksBox>div{
   width:33.33%;
   padding:40px 0;
   box-sizing:border-box;
   float:left;
}
.linksBox .iconIn,.linksBox .iconText{
  float:left;
}
.iconIn{
   width:50px;
   height:50px;
   background-size:contain;
   background-repeat: no-repeat;
   background-position:center center;
   margin-right:10px;
}
.wx .iconIn{
   background-image:url("../images/icon-wechat.png");
}
 .money .iconIn{
  background-image:url("../images/icon-rp.png");
}
 .moneyIn{
   width: 172px;
   margin: 0 auto;
 }
.mf .iconIn{
  background-image:url("../images/icon-credit.png");
}

.linksBox  h4{
   font-weight: 400;
}
.linksBox p,.linksBox  h4{
     line-height:23px;
     font-size:16px;
     font-weight:300;

}
.mfBox{
  float:right;
}
.footer{
  height:100px;
  background:#fff;
}

